{% extends "layout.html" %}
{% load static %}

{% block title %} Forgot pswd - CodingPasanGa {% endblock %}

{% block content %}
    <nav class="flex flex-wrap items-center justify-between bg-black px-6 py-3">
        <a href="{% url "home" %}">
            <img src="{% static "logo.png" %}" alt="" class="h-10">
        </a>
        <h1 class='px-4 text-4xl text-[#E50914] font-netflix tracking-wide font-semibold'>CourtRoom</h1>
        <div class="flex justify-evenly items-center gap-7 text-white-700 rounded">
            <a href="{% url "login" %}" class="rounded bg-red-700 px-4 py-2 hover:bg-violet-500 border-1 border-red-500">Login</a>
            <a href="{% url "signup" %}" class="rounded bg-red-700 px-4 py-2 hover:bg-violet-500 border-1 border-red-500">Sign up</a>
        </div>
    </nav>

    <div class=" flex flex-col justify-center items-center mt-10  font-bold text-violet-600">
        <h1 class="text-white text-3xl">
            Reset is done!!!
        </h1>
        <h2 class="text-2xl">
            Your password has been reset. You can login now....
        </h2>
        <a href="{% url 'login' %}" class="px-4 py-2 rounded-2xl bg-violet-700 mt-5 text-white">Login</a>
    </div>

{% endblock %}