{% extends "layout.html" %}
{% load static %}

{% block title %} Sign up - CourtRoom {% endblock %}

{% block content %}
    <nav class="flex flex-wrap items-center justify-between bg-black px-6 py-3">
        <a href="{% url "home" %}">
            <img src="{% static "logo.png" %}" alt="" class="h-10">
        </a>
        <h1 class='px-4 text-4xl text-[#E50914] font-netflix tracking-wide font-semibold'>CourtRoom</h1>
        <div class="flex justify-evenly items-center gap-7 text-white-700 rounded">
            <a href="{% url "login" %}" class="rounded bg-red-700 px-4 py-2 hover:bg-violet-500 border-1 border-red-500">Login</a>
            <a href="{% url "signup" %}" class="rounded bg-red-700 px-4 py-2 hover:bg-violet-500 border-1 border-red-500">Sign up</a>
        </div>
    </nav>
    
    <div class="flex justify-center ">
        <div style="width: 425px;" class="flex justify-center mt-10 mx-auto bg-[#ffffff0d] border border-[#3D3D3D] rounded-2xl p-6 px-5 py-4 text-white text-center">
            <div>
                <h1 class="text-2xl flex justify-center">Namaste Enter to</h1>
                <h1 class='text-[#E50914] text-4xl'>CodingPasanGa</h1>
                <div class="flex justify-center mt-10">
                    <form action="{% url "signup" %}" method="POST">
                        {% csrf_token %}
                        {% comment %} {% if form.errors %}
                            <div class="text-red-500 text-sm my-2">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %} 
                                    <p>{{ error }}</p>
                                {% endfor %}   
                            </div>
                        {% endif %} {% endcomment %}

                        <div class="w-[300px] mt-4">
                            <div class='relative'>
                                <div class="absolute inset y-0 left-0 flex items-center pl-3 text-gray-400">
                                    <i class="fa-solid fa-circle-user mt-1 py-2 "></i>
                                </div>
                                <input type="text" name = "username" placeholder='Username' class="w-full pl-10 pr-3 py-2 rounded-xl border border-gray-500 bg-transparent text-white placeholder-gray-400 focus:outline-none focus:border-blue-500">

                            </div>
                                <!--Error message-->
                            {% if form.username.errors %}
                                <p class="text-red-400 text-sm mt-1">{{ form.username.errors.0 }}</p>
                            {% endif %}
                        </div>

                        <div class='w-[300px] mt-4'>
                            <div class='relative'>
                                <div class="absolute inset y-0 left-0 flex items-center pl-3 text-gray-400">
                                    <i class="fa-solid fa-user mt-1 py-2"></i>
                                </div>
                                <input type="text" name = "first_name" placeholder='Fullname' class="w-full pl-10 pr-3 py-2 rounded-xl border border-gray-500 bg-transparent text-white placeholder-gray-400 focus:outline-none focus:border-blue-500">
                                
                            </div>
                            {% if form.fullname.errors %}
                                <p class="text-red-400 text-sm mt-1">{{ form.fullname.errors.0 }}</p>
                            {% endif %}
                        </div>

                        <div class="w-[300px] mt-4">
                            <div class="relative">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
                                    <i class="fa-solid fa-envelope relative"></i> 
                                </div>
                                <input name="email" type="email" placeholder="madhavmsihra@gmail.com" class="w-full pl-10 pr-3 py-2 rounded-xl border border-gray-500 bg-transparent text-white placeholder-gray-400 focus:outline-none focus:border-blue-500">  
                            </div>
                            {% if form.email.errors %}
                                <p class="text-red-400 text-sm mt-1">{{ form.email.errors.0 }}</p>
                            {% endif %} 
                        </div>
                        
                        <div class='w-[300px] mt-4'>
                            <div class="relative">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
                                    <i class="fa-solid fa-lock"></i> 
                                </div>
                                <input name="password1" id="password1" type="password" placeholder="••••••" class="w-full pl-10 pr-10 py-2 rounded-xl border border-gray-500 bg-transparent text-white placeholder-gray-400 focus:outline-none focus:border-blue-500" />

                                <div class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 cursor-pointer">
                                    <i id="toggleIcon1" class="fa-solid fa-eye-slash"></i>
                                </div>
                                
                            </div>
                            {% if form.password1.errors %}
                                <p class="text-red-400 text-sm mt-1">{{ form.password1.errors.0 }}</p>
                            {% endif %}
                        </div>

                        <div class="w-[300px] mt-4">
                            <div class="relative">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400">
                                    <i class="fa-solid fa-lock mb-1"></i> 
                                </div>
                                <input name="password2" id="password2" type="password" placeholder="Confirm password" class="w-full pl-10 pr-10 py-2 rounded-xl border border-gray-500 bg-transparent text-white placeholder-gray-400 focus:outline-none focus:border-blue-500" />

                                <div class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 cursor-pointer">
                                    <i id="toggleIcon2" class="fa-solid fa-eye-slash mb-1"></i>
                                </div>
                                
                            </div>
                            {% if form.password2.errors %}
                                <p class="text-red-400 text-sm mt-1">{{ form.password2.errors.0 }}</p>
                            {% endif %}
                        </div>    

                        <div class="mt-4 py-2 rounded-xl border-gray-400 bg-[#E50914]">
                            <button type="submit">Verify and Sign up</button>
                        </div>
                    </form>
                </div>   
                <div class="flex justify-center mt-2">
                    <h1>Already have an Account?</h1>
                    <a href="{% url 'login' %}" class="text-[#E50914]">Login</a>
                </div>
            </div> 
        </div> 
    </div>  

{% endblock %}

{% block scripts %}
    <script src="{% static "Users/toggle.js" %}"></script>
{% endblock %}